// import partials (Sass files named with a leading underscore, letting Sass know that the file is only a partial file and that it should not be generated into a CSS file)
@import "./resets";
@import "./variables";

// functions should be used to compute and return values
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// mixins should be used to define styles
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $primary-color;
  color: $text-color;
}

.main {
  @include flexCenter(row);
  // math operations where both arguments are the same unit type (%, vh, px, etc) do not need the calc() function
  width: 80% - 25%;
  margin: 20px auto;

  #{&}_para1 {
    font-weight: weight(bold);

    &:hover {
      color: $accent-color;
    }
  }

  #{&}_para2 {
    @extend .main_para1;
    &:hover {
      color: pink;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include mobile {
    @include theme(true);
  }
}
